<h3>Invoices for {{ student.first_name }} {{ student.family_name }}</h3>

<table>
    <tr>
        <th>Invoice ID</th>
        <th>Amount Paid</th>
        <th>Balance Due</th>
        <th>View</th>
    </tr>
    {% for invoice in invoices %}
    <tr>
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.amount_paid }}</td>
        <td>{{ invoice.balance_due }}</td>
        <td><a href="{{ url_for('view_invoice', invoice_id=invoice.id) }}">View Invoice</a></td>
    </tr>
    {% endfor %}
</table>
